extends layout

block content
  header 
    .title Appeltje Eitje
    input(type="button", value="Verder")
  .content
    .items
    .add#addButton
      i.fa.fa-plus
      span Item toevoegen
    
  template#itemTamplate
    .item
      input(type="text", placeholder="Product").product 
      .amount
        span x
        input(type="number", value="1")
