extends layout

block content
  header Appeltje Eitje
  .content
    .item.add
      input(type="text", placeholder="Product").product 
      .amount
        span x
        input(type="number", value="1")
      input(type="button", value="Add")#addButton
