extends layout

block content
  header 
    .title Appeltje Eitje
    input(type="button", value="Verder")#nextButton
  .content
    .items
    .add#addButton
      i.fa.fa-plus
      span Item toevoegen
    
  // this is a tamplate of a shopping list item, it will be copyed by
  // `/public/script/script.js` and placed in .items
  template#itemTamplate
    .item
      input(type="text", placeholder="Product").product 
      .amount
        span x
        input(type="number", value="1")
