doctype html
html
  head
    title Appeltje Eitje
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700')
    script(src="script/script.js")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#3F51B5")
  body
    block content
